### WordPress inside backoffice.qounamstudio.com

# Ignore WordPress core
/backoffice.qounamstudio.com/wp-admin/
/backoffice.qounamstudio.com/wp-includes/

# Ignore everything in wp-content except your custom code
/backoffice.qounamstudio.com/wp-content/*
!/backoffice.qounamstudio.com/wp-content/plugins/
!/backoffice.qounamstudio.com/wp-content/themes/
!/backoffice.qounamstudio.com/wp-content/mu-plugins/

# But ignore uploads (media)
/backoffice.qounamstudio.com/wp-content/uploads/

# Ignore unwanted default plugins
/backoffice.qounamstudio.com/wp-content/plugins/hello.php
/backoffice.qounamstudio.com/wp-content/plugins/akismet/

# Ignore default themes
/backoffice.qounamstudio.com/wp-content/themes/twenty*/

# Sensitive files
/backoffice.qounamstudio.com/wp-config.php
/backoffice.qounamstudio.com/.htaccess
/backoffice.qounamstudio.com/.user.ini
/backoffice.qounamstudio.com/.maintenance

# Node
node_modules/

# Logs & dumps
*.log
*.sql
*.sqlite

# Editor
.vscode/
.idea/

# Archives
*.zip
*.rar